body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #1187d2;
  border-bottom: solid 1px;
  padding: 8px 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-logo {
  width: 100px;
  height: auto;
}

.form-heading {
  font-weight: 700;
  text-align: center;
}

.login-box,
.logout-box {
  display: flex;
  align-items: center;
}

.logout-btn,
.login-btn {
  color: #fff;
  border: solid 1px #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.login-btn:hover {
  color: #fff;
  background-color: blue;
  transition: 0.1s;
}

.register-btn {
  /* margin-left: 5px; */
}

form#normal_login{
  /* text-align: center; */
  max-width: 400px;
  background-color: #fff;
  padding: 40px 24px;
  margin: 100px auto;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.ant-row.ant-form-item {
  margin-top: 24px;
}

span.ant-input-affix-wrapper {
  /* border-bottom: solid 1px #ccc;
  border-top: none;
  border-left: none;
  border-right: none; */
  /* padding-bottom: 10px; */
}

button.ant-btn.ant-btn-primary.login-form-button {
  width: 80%;
  border-radius: 50px;
}

.social-icon {
  margin: 0 10px;
}

.forgot-pass {
  text-align: right;
}

form#horizontal_login {
  max-width: 550px;
  background-color: #fff;
  padding: 40px 24px;
  margin: 100px auto;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.signup-form {
  margin: 0 auto
}

.hot-news-list {
  /* margin: 32px; */
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
}

.footer {
  text-align: center;
  padding-bottom: 50px;
}

/* ShowNews CSS */
.hide {
  overflow: hidden;
  max-height: 13ch;
}

.show {
  max-height: 100%;
}

/* admin tamplate CSS */
aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  /* position: fixed; */
  top: 0;
  bottom: 0;
}

ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
  padding-top: 30px;
}


/* Info CSS */
.Info-container {
  background-color: #fff;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.avatar-container {
  border-radius: 50%;
  position: relative;
}

.avatar {
  width: 120px;
  /* border-radius: 50%; */
  border: solid 5px #ccc
}

.camera-icon {
  font-size: 20px;
  background-color: #e4e6eb;
  padding: 0 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.body-info {
  position: relative;
}

.edit-icon {
  font-size: 16px;
  position: absolute;
  top:  0;
  right: 0;
  padding: 10px 15px;
}


.edit-icon:hover {
  cursor: pointer;
  color: #1187d2;
}

.Info-header {
  justify-content: left;
  align-items: flex-end;
}

.heading-info {
  margin-left: 32px;
}

.info-item {
  padding-left: 8px;
}

/* Create News Form CSS */
.ql-editor.ql-blank {
  height: 200px;
}

.ant-select-selector {
  padding: 5px;
}

/* Check News Css */
.news-container {
  background-color: #fff;
  padding: 30px 40px;
  margin: 0 auto;
  max-width: 700px;
}

.description,
.content {
  font-size: 16px;
}

.author {
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
}